{# src/Xif/CoreBundle/Resources/views/Actus/form.html.twig #}
<div class="well">
	{{ form(form) }}
</div>

<p>
	<em>
		Attention: ceci s'affiche sur la page d'accueil du site et est consultable par tous les visiteurs.
	</em>
</p>