
{% extends 'XifCoreBundle::layout.html.twig' %}

{% block title %}Actualités – {{ parent() }}{% endblock %}

{% block body %}
	<article class="asideNext">
		<div class="row">
			<div class="col-lg-12">
				<h2>Actualités</h2>
			</div>
		</div>
		{% block actus_content %}{% endblock actus_content %}
	</article>
{% endblock %}
