{# app/Resources/TwigBundle/views/Exceptions/error418.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Erreur 418 – {{ parent() }}
{% endblock %}

{% block body %}
	<article>
		<h2>Erreur 418: Me prendriez vous pour une cafetière?</h2>
		<p>
			Vous vous êtes trompé: je suis une théière!
		</p>
	</article>
{% endblock %}
