{# app/Resources/TwigBundle/views/Exceptions/error404.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Erreur 404 – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Erreur 404: Fichier introuvable</h2>
			<p>
				Ce fichier n'existe pas.
			</p>
		</div>
	</div>
{% endblock %}
