{% extends "XifUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Mon compte</h2>
			{% include "FOSUserBundle:Profile:show_content.html.twig" %}
			<div class="btn-group">
				<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Éditer</a>
				<a href="{{ path('fos_user_change_password') }}" class="btn btn-danger">Changer de mot de passe</a>
			</div>
		</div>
	</div>
{% endblock fos_user_content %}
