{% extends "XifUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>
				{{ 'registration.confirmed'|trans({'%username%': user.username}) }}
				Vous pouvez maintenant <a href="{{ path('xif_soundorganiser_makeprojectpage') }}">créer vos projets</a>.
			</p>
			{% if targetUrl %}
				<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
			{% endif %}
		</div>
	</div>
{% endblock fos_user_content %}
