{% extends "XifUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<h2>Créer un compte</h2>
	{% include "XifUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
