/* src/Xif/SoundOrganiserBundle/Resources/public/edit.css */

.well {
	margin-top: 1em;
}

label {
	display: inline-block;
	padding: 0.25em;
	font-size: 1em;
}

song {
	font-weight: bold;
	text-decoration: underline;
}

#songList li {
	cursor: pointer;
}

descr {
	font-size: 10px;
	font-style: italic;
}

songtype, trans { font-size: 0.8em; }

songtype[one] { color: blue; }
songtype[rest] { color: green; }
songtype[rand] { color: red; }
songtype[rep] { color: purple; }
songtype[err] {
	background-color: white;
	color: black;
}

trans[long] { color: blue; }
trans[sweet] { color: teal; }
trans[quick] { color: #6400FF; }
trans[next] { color: fuchsia; }
trans[full] { color: red; }
trans[raw] { color: maroon; }
trans[err] {
	background-color: white;
	color: black;
}

iframe {
	height: 100%;
	width: 100%;
	border: none;
}

* {
	/*outline: 2px black;*/
}
