{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
	<div class="form-group">
		<label for="username">{{ 'resetting.request.username'|trans }}</label>
		{% if invalid_username is defined %}
			<p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
		{% endif %}
		<input type="text" id="username" name="username" required="required" class="form-control" />
	</div>
	<input type="submit" value="{{ 'resetting.request.submit'|trans }}" class="btn btn-primary" />
</form>
