{% extends "XifUserBundle::layout.html.twig" %}

{% block fos_user_content %}
	<h2>Réinitialiser le mot de passe</h2>
	{% include "XifUserBundle:Resetting:reset_content.html.twig" %}
{% endblock fos_user_content %}
