{# src/OC/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Conditions d'utilisation – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Conditions d'utilisation</h2>
			<ul>
				<li>
					SoundOrganiser est entièrement gratuit.
				</li>
				<li>
					Les musiques/sons/bruitages employés dans les projets restent la propriété de leur auteur. Les copies avérées illégales seront supprimées, après avertissement.
				</li>
				<li>
					Les copies présentes sur nos serveurs ne sont accessibles que par la personne qui les a mises en ligne ou un super-administrateur.
				</li>
				<li>
					Nous nous réservons le droit de supprimer, après avertissement, les comptes abusant de nos services.
				</li>
				<li>
					Nous ne supprimerons rien sans en avertir la personne qui les a mises en ligne.
				</li>
				<li>
					SoundOrganiser n'est pas un hébergeur de fichiers.
				</li>
				<li>
					Nous n'utiliserons pas vos données à des fins commerciales.
				</li>
				<li>
					Les seuls emplois de votre adresse e-mail sont:
					<ul>
						<li>
							La vérification de votre existence lors de la création du compte,
						</li>
						<li>
							L'envoi du lien de réinitialisation de mot de passe demandé,
						</li>
						<li>
							L'envoi d'avertissements lors d'infractions aux présentes conditions d'utilisation,
						</li>
						<li>
							L'envoi d'un message lorsque vous ne vous êtes pas connecté depuis plus d'un an.
							<span class="help" title="Nos serveurs ne disposant pas d'un espace illimité, nous supprimons les fichiers inutilisés depuis trop longtemps.">[?]</span>
						</li>
					</ul>
				</li>
				<li>
					Toute personne le souhaitant pourra devenir administrateur, après en avoir fait la demande et que les administrateurs en poste soient d'accord.
				</li>
				<li>
					Seul les super-administrateurs peuvent supprimer un fichier, un projet, un utilisateur.
				</li>
				<li>
					Tout administrateur peut publier une actu qui s'affichera sur la page d'accueil.
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
