{# src/Xif/CoreBundle/Resources/views/Core/contact.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Contact – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<h2>Contact</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 well">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
