{# src/OC/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "XifCoreBundle::layout.html.twig" %}

{% block title %}
	Crédits – {{ parent() }}
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Crédits</h2>
			
			<table class="table table-bordered">
				<tr>
					<th>Idée originale</th>
					<td colspan="2">Félix FAISANT</td>
				</tr>
				<tr>
					<th>Réalisation</th>
					<td colspan="2">Nils VAN ZUIJLEN</td>
				</tr>
				<tr>
					<th>Police principale</th>
					<td colspan="2">
						<a href="//www.nymfont.com/2009/05/sans-serif-experiments.html">Champagne &amp; Limousines</a>,
						by <a href="//www.nymfont.com/">Lauren THOMPSON</a>
					</td>
				</tr>
				<tr>
					<th rowspan="2">Design</th>
					<th>Site</th>
					<td>Nils VAN ZUIJLEN</td>
				</tr>
				<tr>
					<th>Page de lecture</th>
					<td>Félix FAISANT</td>
				</tr>
				<tr>
					<th>Framework</th>
					<td colspan="2"><a href="//symfony.com">Symfony</a></td>
				</tr>
				<tr>
					<th>Gestion des utilisateurs</th>
					<td colspan="2">Friends Of Symfony UserBundle</td>
				</tr>
				<tr>
					<th>Hébergement</th>
					<td colspan="2"><a href="//network.xif.fr">Xif Network</a></td>
				</tr>
			</table>
		</div>
	</div>
{% endblock %}
